extends layout

block content
  if errors == "success"
    .notification.is-success
      button.delete
      p.notification-message You successfuly joined group
  else if errors
    .notification.is-warning
      button.delete
      if errors == "match"
        p.notification-message You have already joined that group
      else 
        p.notification-message Something went wrong adding you to a group

  if user
    .container(style="margin-bottom: 1rem")
      button(onclick=`addGroup()`, style="width: 100%").button.is-primary.open-modal#send-request Add group
  section
    .container
      //- if content && content.length > 0
      //-     table.table.is-hoverable.is-striped.is-fullwidth
      //-       thead
      //-         tr
      //-           th Destination picture
      //-           th Destination name
      //-           th Created by
      //-       each group in content
      //-         tr
      //-           td
      //-             figure.image.is-128x128
      //-               img(src='https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop=', alt='Image')  
      //-           td #{group.place_to_visit}
      //-           td
      //-             figure.image.is-64x64
      //-               img(src='https://i.imgsafe.org/a4/a4bb9acc5e.jpeg', alt='Image')      


      if content && content.length > 0
        .row.columns.is-multiline
          each group in content
            .column.is-one-third
              .card
                header.card-header
                  p.card-header-title #{group.place_to_visit}
                .card-image
                  figure.image
                    if group.group_photo == "default_photo"
                      img(src='https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop=', alt='Image') 
                    else
                      img(src=group.group_photo, alt='Image')                           
                .card-content
                  .media
                    .media-left
                      figure.image.is-64x64
                        img(src='https://i.imgsafe.org/a4/a4bb9acc5e.jpeg', alt='Image')
                    .media-content
                      .content.is-small
                          ul
                            li Number of people: #{group.number_of_people}
                  .content.is-small
                    p #{group.description}
                .card-footer
                  a.card-footer-item(href= user ? "../groups/join/" + group.ID_GROUP : "../login") Join       

  .modal#get-data-modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Create new group
        button(aria-label="close").delete
      section.modal-card-body
        form#create-group-form
          .field
            label.label Name of your group
            .control
              input.input(type="text" placeholder="name" name="name")

          .field
            label.label Type something about your group
            .control
              //- input.input(type="text" placeholder="description" name="description")
              textarea.textarea(placeholder="Write something about your group", form="create-group-form" name="description")

          .field
            label.label Place to visit
            .control
              input.input(type="text" placeholder="destination" name="place_to_visit")
            p.help You can change it later

          .field
            label.label Number of members you want to join you
            .control
              input.input(type="number" placeholder="number of members" name="number_of_people")
            p.help You can change it later

          .field
            label.label Group cover photo
            .control
              input.input(type="text" placeholder="https://shrani.si/ab2c31" name="link_photo")
            p.help We do not support storing photos on our service, so just put a link to your photo
      footer.modal-card-foot
        button.button.is-primary.custom-modal-close#create-group-button Create new group
        button.button.custom-modal-close Cancel
   

    
