extends layout-no-bulma

block content
    nav.navbar
      .container
        .navbar-brand
          a.navbar-item(href='/groups')
            img(src='/images/logo.png', alt='Logo')
          |                         
          span.navbar-burger.burger(data-target='navbarMenu')
            span
            |                         
            span
            |                         
            span
        |                     
        #navbarMenu.navbar-menu
          .navbar-end
            a.navbar-item(href="/groups")
              | Browse
            |                         
            .navbar-item.has-dropdown.is-hoverable
              if(user)
                a.navbar-link=name
              else
                a.navbar-link Account
              if(user)                                 
                .navbar-dropdown
                  a.navbar-item(href="/groups/list")
                    | My groups                            
                  a.navbar-item(href="/user-profile/"+id_user)
                    | Profile                            
                  hr.navbar-divider
                  |                                     
                  a.navbar-item(href="/login/logout")
                    | Logout
              else
                .navbar-dropdown
                  a.navbar-item(href="/login")
                    | Login  
    .row.margin-top-50
        div.col-sm-4
        div.col-sm-4.bigger-text User's profile card
    .row
        div.col-sm-4
        div.col-sm-4.panel.panel-default#profile-panel
            div.col-sm-3
                img.profile-user-picture(src="/images/profile.png")
            div.col-sm-9
                span.bigger-text=name+" "+surname
                br
                if(sex == "m")
                    span.bigger-text="Male"
                else
                    span="Female"
                br
            div.col-sm-12
                if(me == 1)
                    form(action='/user-profile/update',method='post')
                        br
                        span About me:
                        br
                        textarea.form-control#about-me(name="description")=introduction
                        p.tip Describe yourself, so people can get to know you better.
                        br
                        input.form-control(type="submit" value="Update info")
                        if(error)
                            p.error-message=error
                else
                    br
                    span About the user:
                    br
                    span.form-control#profile-user-desc=introduction