extends layout

block content
    div.col-sm-4
    div.col-sm-4.panel.panel-default#profile-panel
        div.col-sm-3
            img.profile-user-picture(src="/images/profile.png")
        div.col-sm-9
            span.bigger-text=name+" "+surname
            br
            if(sex == "m")
                span.bigger-text="Sex: Male"
            else
                span="Sex: Female"
            br
        div.col-sm-12
            if(me == 1)
                form(action='/user-profile/update',method='post')
                    br
                    span About me:
                    br
                    textarea.form-control#about-me(name="description")=introduction
                    p.tip Describe yourself, so people can get to know you better.
                    input.form-control(type="submit" value="Update info")
                    if(error)
                        p.error-message=error
            else
                br
                span About the user:
                br
                span.form-control#profile-user-desc=introduction

    div.col-sm-4